.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 20px;
}
.list__item{
    width: 300px;
    background: #c6c6c6;
    margin-bottom: 20px;
    overflow: hidden;
    
}
.list__item:hover img{
    -webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
	transform: scale(1.4);

}
.list__img{
    overflow: hidden;
}
.list__item img{
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 1.5s linear 0s;
	-moz-transition: all 1.5s linear 0s;
	-o-transition: all 1.5s linear 0s;
	transition: all 1.5s linear 0s;

}
.list__item:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}